*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.box-main{
    width: 960px;
    height: 800px;
    margin-left: 10px   ;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: space-between;
}

.box-menu{
    height: 80px;
    background-color: coral;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box-gallery{
    height: 690px;
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.box-bottom{
    height: 30px;
    background-color: darkcyan;
    text-align: center;
}
.box-movie{
    height: 150px;
    width: 150px;
    background-color: darkcyan;
    text-align: center;
}
.box-item{
    width: 80px;
    background-color: darkorange;
    text-align: center;
    align-items: left;
}
.box-item-hover:hover{
    background-color: darkred;
}