* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Fjalla One";
    font-size: 22px;
    text-decoration: none;
    /*PALLET*/
    /*
    DARK-BLUE: 1d3557;
    BLUE: 457b9d;
    LIGHT-BLUE: a8dadc;
    WHITE: f1faee;
    RED: e63946;
    */
}

.box-container {
    margin: 2rem auto;
    margin-top: 0;
    width: 100%;
    height: 100%;
}

.button-search {
    border: none;
    color: white;
    background-color: crimson;
}

.box-title {
    background-color: khaki;
    text-align: center;
    height: auto;
}

.box-search {
    background-color: firebrick;
    text-align: center;
}

.box {
    background-color: black;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
}

.box-carousel {
    background-color: black;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.box-carousel-images {
    background-color: black;
    width: 100%;
    height: 40%;
    margin: 2rem auto;
    display: flex;
}

.carousel-images {
    display: flex;
    max-width: 20%;
    height: auto;
    transform: translateX(0);
    transition: transform 0.25s;
}

.carousel-button {
    background-color: black;
    opacity: 10%;
    color: blanchedalmond;
    border: none;
    width: 3rem;
    height: 100%;
    font-size: 32px;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    transition: opacity 0.25s;
}

.carousel-button:focus {
    outline-style: none;
}

img {
    border-radius: 5%;
}

.next {
    left: 97%;
}